*.cpp linguist-language=C++
*.cxx linguist-language=C++
*.cc linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++

*.uasset linguist-vendored
*.umap linguist-vendored
Binaries/** linguist-vendored
DerivedDataCache/** linguist-vendored
Intermediate/** linguist-vendored
Saved/** linguist-vendored
.vs/** linguist-vendored
