# Treat Unreal Engine assets as C++ for GitHub language stats
*.uasset linguist-language=C++
*.umap linguist-language=C++

# Ignore cache and build folders
Binaries/** linguist-vendored
DerivedDataCache/** linguist-vendored
Intermediate/** linguist-vendored
Saved/** linguist-vendored
.vs/** linguist-vendored
