# Force UE5 asset files to count as C#
*.uasset linguist-language=C#
*.umap linguist-language=C#

# Ignore build/cache folders so they don't skew language stats
Binaries/** linguist-vendored
DerivedDataCache/** linguist-vendored
Intermediate/** linguist-vendored
Saved/** linguist-vendored
.vs/** linguist-vendored
